.Article {
  text-align: left;
  background: deepskyblue;
}

.Aside {
  background: gold;
  margin-right: 10px;
}

@media all and (min-width: 600px) {
  .Aside {
    flex: 1 auto;
    margin: 0 0 10px 0;
  }
}

@media all and (max-width: 600px) {
  .Aside {
    flex: 1 auto;
    margin: 0 0 10px 0;
  }
}

@media all and (min-width: 800px) {
  .Article {
    flex: 3 0px;
  }
  .Aside {
    order: 1;
    flex: 1 auto;
    margin: 0 10px 0 0;
  }
  .Article {
    order: 2;
  }
}