.Layout {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  text-align: center;
  height: 100%;
}

.Layout > * {
  padding: 10px;
}

.Layout__row-layout {
  min-height: 500px;
  margin-top: 60px;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  align-items: stretch;
}

.Article {
  text-align: left;
}

.Aside {
  display: flex;
  flex-flow: row wrap;
  margin-right: 10px;
  align-items: flex-start;
}

.Aside .FilterMenu {
  margin-left: 15px;
  margin-top: 0;
}

@media all and (min-width: 600px) {
  .Aside {
    margin: 0 0 10px 0;
  }
}

@media all and (max-width: 600px) {
  .Aside {
    margin: 0 0 10px 0;
  }
}

@media all and (min-width: 800px) {
  .Layout__footer {
    order: 4;
  }
  .Article {
    flex: 3 0px;
  }
  .Aside {
    order: 1;
    margin: 0 10px 0 0;
  }
  .Article {
    order: 2;
  }
}
