.Layout {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  text-align: center;
  height: 100%;
}

.Layout > * {
  padding: 10px;
}

.Layout__row-layout {
  margin-top: 60px;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  align-items: stretch;
}

.Layout__footer {
  background: lightgreen;
}

@media all and (min-width: 800px) {
  .Layout__footer  { order: 4; }
}
